@import url("https://fonts.googleapis.com/css2?family=MedievalSharp&family=Montserrat:wght@700&display=swap");

.title-heading {
  font-family: "MedievalSharp", cursive !important;
  letter-spacing: 5px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .title-heading {
    text-align: center;
  }

  /* Adjust the width of the text field for mobile devices */
  .MuiOutlinedInput-root {
    width: 100%;
  }

  /* Center align buttons in 3 rows with 2 buttons each for mobile devices */
  .MuiStack-root {
    flex-direction: column;
    align-items: center;

    & button {
      margin-bottom: 8px; /* Adjust spacing between buttons */
    }
  }
}
